# GitHub OAuth
GITHUB_ID=your_github_oauth_client_id
GITHUB_SECRET=your_github_oauth_client_secret

# NextAuth.js
NEXTAUTH_URL=https://your-domain.vercel.app
NEXTAUTH_SECRET=your_nextauth_secret

# Database
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# Node Environment
NODE_ENV=production 

# Upstash Redis KV Database
KV_URL="your_redis_url"
KV_REST_API_READ_ONLY_TOKEN="your_readonly_token"
KV_REST_API_TOKEN="your_api_token"
KV_REST_API_URL="your_rest_api_url" 